In [14]:
import yfinance as yf
from prefect import task, Flow
from datetime import datetime, timedelta

# Define the stock symbol for the company you're interested in (e.g., AAPL for Apple Inc.)
symbol = 'AAPL'

# Create a Ticker object
stock = yf.Ticker(symbol)

# Fetch historical market data
hist = stock.history(period="7d", interval  = "1m")  # 1 month of data. You can adjust the period as needed.

In [15]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-02-01 09:30:00-05:00,184.250000,184.330002,184.229996,184.285004,2862695,0.0,0.0
2024-02-01 09:31:00-05:00,184.380005,184.460007,183.960007,184.209900,360793,0.0,0.0
2024-02-01 09:32:00-05:00,184.199997,184.871201,184.009995,184.490005,342908,0.0,0.0
2024-02-01 09:33:00-05:00,184.479996,185.080002,184.389999,184.959305,288752,0.0,0.0
2024-02-01 09:34:00-05:00,184.968506,185.210007,184.789993,185.021194,303001,0.0,0.0
...,...,...,...,...,...,...,...
2024-02-09 10:59:00-05:00,188.630005,188.679901,188.595001,188.676193,92834,0.0,0.0
2024-02-09 11:00:00-05:00,188.684998,188.740005,188.679993,188.714996,62071,0.0,0.0
2024-02-09 11:01:00-05:00,188.714996,188.750000,188.679993,188.744995,76979,0.0,0.0
2024-02-09 11:02:00-05:00,188.744995,188.759995,188.710007,188.729996,83865,0.0,0.0
2024-02-09 11:03:00-05:00,188.733200,188.733200,188.733200,188.733200,0,0.0,0.0

In [16]:
hist = hist[['Close', 'Volume']]

In [17]:
hist

                                Close   Volume
Datetime
2024-02-01 09:30:00-05:00  184.285004  2862695
2024-02-01 09:31:00-05:00  184.209900   360793
2024-02-01 09:32:00-05:00  184.490005   342908
2024-02-01 09:33:00-05:00  184.959305   288752
2024-02-01 09:34:00-05:00  185.021194   303001
...                               ...      ...
2024-02-09 10:59:00-05:00  188.676193    92834
2024-02-09 11:00:00-05:00  188.714996    62071
2024-02-09 11:01:00-05:00  188.744995    76979
2024-02-09 11:02:00-05:00  188.729996    83865
2024-02-09 11:03:00-05:00  188.733200        0

[2429 rows x 2 columns]